<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Bookings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>View Bookings</h1>

        <form action="/view_bookings" method="get" class="search-form">
            <label for="search">Search Booker</label>
            <input type="text" id="search" name="search" placeholder="Enter booker's name">
            <button type="submit">Search</button>
        </form>

        <button type="button" onclick="goBack()" class="form-button back-button">Back to Movies</button>

        <table class="booking-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Movie Title</th>
                    <th>Booker Name</th>
                    <th>Number of Tickets</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in bookings %}
                    <tr>
                        <td>{{ booking.booking_id }}</td>
                        <td>{{ booking.movie_title }}</td>
                        <td>{{ booking.booker_name }}</td>
                        <td>{{ booking.num_tickets }}</td>
                        <td>
                            <form action="{{ url_for('cancel_booking_route', booking_id=booking.booking_id) }}" method="post" onsubmit="return confirm('Are you sure to cancel this booking');">
                                <button class="cancel_book-btn" type="submit">Cancel Booking</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>

</html>
